<DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>mapinc. the easiest way to mark your area</title>
  <link rel="shortcut icon" href="/images/favicon.png?v=2" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="/javascripts/libs/react.js"></script>
  <script src="/javascripts/libs/react-dom.js"></script>
  <script src="/javascripts/libs/browser.js"></script>
  <script src="/javascripts/libs/jquery.min.js"></script>
  <script src="/javascripts/libs/marked.min.js"></script>
</head>
<body>
  <div id="container" userEmail= <%=userId %>>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script type="text/babel" src="/javascripts/page.map/addMap.js"></script>
</body>
</html>
